<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add a movie to our catalogue!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <a href="/">Home</a>
    <h2>Add a movie to our catalogue!</h2>
    <form action="/addMovieForm" method="Post">
        <label for='title'>Movie title</label><br>
        <input type="text" name="movieTitle"><br>
        <label for='maturity_rating'>Maturity rating</label><br>
        <input type="text" name="maturityRating"><br>
        <label for='genre'>Genre</label><br>
        <input type="text" name="genre"><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>