<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add a movie to our catalogue!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <a href="/">Home</a>
    <h2>Add a movie to our catalogue!</h2>
    <form action="/addMovieForm" method="POST">
        <p>Movie Title: <input type="text" name="movieTitle" /></p>
    <p>Maturity Rating: <input type="text" name="maturityRating" /></p>
    <p>Genre: <input type="text" name="genre" /></p>
    <p><input type="submit" value="Submit" /></p>
    </form>
    
</body>
</html>