<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h2>Vote for the best movie</h2>
    <form action="/voteForBestMovie" method="POST">
        <label for='voterName'>Your name</label><br>
        <select name="movieId">
            <option value="0">select movie</option>
            <option th:each="movie: ${movies}" th:value="${movie.id}" th:text="${movie.title}"></option>
        </select>
        <input type="submit" value="Submit">
    </form>    
</body>
</html>